include README.md
include config/sample_config.ini
include examples/autotransform_schedule.json
include examples/autotransform_manage.json
include examples/schemas/black_format.json
include examples/schemas/sample_schema.json
include examples/workflows/autotransform_runner.yml
include examples/workflows/autotransform_scheduler.yml
include examples/workflows/autotransform_manager.yml
include examples/workflows/autotransform_updater.yml