include LICENSE, README.md, pyproject.toml
include CHANGELOG.md CONTRIBUTING.md CUSTOM_DEPLOYMENT.md
include autotransform/data/sample_config.ini
include autotransform/data/packages/sample_package.json