# Requirements for core AutoTransform
GitPython
PyGithub
typing-extensions
colorama
pytz

# Requirements for Schemas

# Formatting
black

# Type Checking
mypy
types-colorama
types-mock
types-pytz

# Linting
pylint

# Unit Tests
pytest
mock

# Build Requirements
build
twine