# Requirements for core AutoTransform
GitPython==3.1.32
ghapi==1.0.3
typing-extensions==4.4.0
colorama==0.4.6
pytz==2022.7.1
pydantic==1.10.4
libcst==0.4.9
codeowners==0.6.0
requests==2.31.0
openai==0.27.8
anthropic==0.5.0


# Requirements for Schemas

# Formatting
black==23.1.0

# Type Checking
mypy==0.991
types-colorama==0.4.15.5
types-mock==5.0.0.2
types-pytz==2022.7.1.0
types-requests==2.28.11.8

# Linting
pylint==2.16.0

# Unit Tests
pytest==7.2.1
mock==5.0.1

# Build Requirements
build==0.10.0
twine==4.0.2